<nav class="navbar navbar-expand-lg bg-dark navbar-dark    w-100 ">
  <div class="container  ">
    <a class="navbar-brand text-white" routerLink="/home"  >Badget Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link  text-white ms-2" aria-current="page" routerLink="/home" routerLinkActive="My_active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white ms-2" routerLink="/profile" routerLinkActive="My_active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white ms-2" routerLink="/dashboard" routerLinkActive="My_active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white ms-2" routerLink="/espense" routerLinkActive="My_active">Espense</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white ms-2" routerLink="/income" routerLinkActive="My_active">Income</a>
        </li>

        <button class="btn btn-outline-danger ms-4" (click)="changeRoute()">{{userLoged?'LogOut':'Login'}}</button>
        <!-- <button class="btn btn-outline-danger ms-5">LogOut</button> -->

      </ul>

    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

